@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
:root {
    --primary-color: #059669;
    --inner-width: 1200px;
    --header-height: 50px;
    --header-margin-top: 5px;
    --footer-height: 100px;
    --content-height: calc(100vh - var(--header-height) - 2 * var(--header-margin-top) - var(--footer-height));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

.App {
    background: url('../../assets/images/background.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - var(--footer-height));
}
